.background-container {
  position: relative;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.swiper-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: rgba(29, 29, 27, 0.85);
  position: relative;
  flex-shrink: 0;
  transition-property: opacity;
  pointer-events: none;
  .image {
    display: block;
    position: relative;
    background: #000;
    padding-top: 56.25%;
    overflow: hidden;
    img {
      position: absolute;
      max-width: 100%;
      top: 0;
      left: 0;
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__title {
      color: #fff;
      font-size: 50px;
      font-weight: 400;
      letter-spacing: 1px;
      span {
        color: #fd0;
      }
    }
    .desc {
      color: #fff;
      font-size: 1.25rem;
      margin-top: 10px;
      font-weight: 300;
      letter-spacing: 1.5px;
      line-height: 1.5;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      span {
        color: #fd0;
      }
    }
  }
}

.control {
  display: flex;
  position: absolute;
  top: 50%;
  left: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  z-index: 11;
  .swiper-pagination {
    position: absolute;
    transform: translateZ(0);
    z-index: 10;
    transition: opacity 0.3s;
    text-align: center;
    .swiper-pagination-bullet {
      margin: 5px 0;
      height: 20px;
      border-radius: 2.5px;
      background: #fff;
      width: 5px;
      cursor: pointer;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(#fff, 0.3);
  z-index: 999;
  &.opaque {
    background-color: #6e3131;
  }
}

.header_info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #fff;
}
.nav__info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 145px;
  li {
    padding: 5px;
    margin-left: 20px;
    input {
      display: none;
    }
    a {
      color: #fff;
    }
  }
}
.navbar {
  width: 100%;
  height: 60px;
  background: transparent;
  .container {
    padding-top: 5px;
  }
}

.nav__logo {
  img {
    transform: scale(0.8);
  }
}

nav {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  li {
    margin-left: 20px;
    a {
      color: #fff;
    }
  }
  .button {
    margin-left: 5px;
    padding: 8px;
  }
  .btn {
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
    &--yellow {
      background: $yellow;
      a {
        color: $black;
      }
      &:hover {
        background: $black;
        a {
          color: $yellow;
        }
      }
    }
    &--black {
      background: $black;
      a {
        color: $yellow;
      }
      &:hover {
        background: $yellow;
        a {
          color: $black;
        }
      }
    }
  }
}

.bx {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 5px;
}
